*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    overflow-x:hidden;
}
.container{
    width:100vw;
    position: absolute;
    align-items:center;
    justify-content: center;
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(autofill,minmax(300px, 300px)); /* autofill is used */
    row-gap: 10px;
    column-gap: 10px;
}
img{
    width:350px;
    height:350px;
    object-fit: cover;
    object-position: center;
}